:root {
  --primary-2: #677294;
  --primary-3: #6fadfa;
  --primary-4: #007bff;
  --primary-5: #1c335f;
  --primary-6: #13112d;

  --secondary: #6c757d;
  --accent: #f3af4e;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #fa6640;
  --light: #f8f9fa;
  --dark: #343a40;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width:10px ;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--primary-4);
  border-radius: 999px;
}

.header {
  background: var(--primary-5);
  padding-block: 12px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px;
}

.header > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div {
  gap: 18px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header-title {
  padding-block: 50px;
  color: var(--secondary);
  font-size: 24px;
}
.sr-only
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
.bodyy 
{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 500;
  background: var(--primary-5);
  border-radius: 50%;
  transition: 300ms;
}
.bodyy:hover {
  transform: scale(1.03);
}
.text-secondary {
  color: var(--secondary);
}

.slider {
  display: flex;
  overflow: hidden;
  
}

.slide {
  background-size: cover;
  background-position: center;
  padding-inline:155px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  min-width: 100vw;
  position: absolute;
  inset: 0;
}
.slider-container {
  position: relative;
  height: 100vh;
  background-color: var(--dark);
  overflow: hidden;
}
.next-btn {
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 140px;
  height: 100vh;
  top: 0;
  right: 0;
}

.prev-btn {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 140px;
  height: 100vh;
  top: 0;
  left: 0;
}
.slide h2 {
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  max-width: 20ch;
}
.slide p {
  padding-bottom: 48px;
  max-width: 62ch;

}

.bg-slide-1 {
  background-image:url("./images/slide-1.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-slide-2 {
  background-image:url("./images/slide-2.jpg");
}
.bg-slide-3 {
  background-image:url("./images/slide-3.jpg");
}

.current {
  transform: translateX(0);
  transition: 350ms ease;
}
.next {
  transform: translateX(100%);

}
.preve {
  transform: translateX(-100%);
}

.slider-container:has(.next-btn:focus) .preve{
  transition: 350ms ease;
}

.slider-container:has(.prev-btn:focus) .next{
  transition: 350ms ease;
}

.bullets 
{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.bullets li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.bullets button {
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 50%;
}
.bullets .current-bullet, 
.bullets button:hover {
  opacity: 100%;
}

/* Features Section  */

.features-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px 40px;
  padding-block: 16px;
}

.feature {
  background-color: var(--primary-5);
  padding: 30px 40px 10px;
  display: flex;
  align-items: center;
  align-content: start;
  flex-direction: column;
  gap: 5px;
  border-radius: 20px;
  transition: all 3 ease-in-out;
}

.feature:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

.feature-icon {
  background: var(--primary-3);
  border-radius: 50%;
  padding: 15px;
  width: 60px;
  height: 60px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature:nth-child(2n) .feature-icon {
  background: var(--accent);
}

.feature:nth-child(3) .feature-icon,
.feature:nth-child(8) .feature-icon {
  background: var(--danger);
}

.feature-label {
  font-size: 17px;
  color: white;
  text-align: center;
  font-weight: 500;
}


/* End Features Section  */

.form-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 65px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}

.form-image {
  max-width: 470px;
}

.form-container {
  flex: 1;
  padding-block: 24px;
}

.form-title {
  font-size: 48px;
  color: var(--dark);
  font-weight: 500;
  padding-bottom: 30px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form-input {
  border: 1px solid var(--primary-2);
  border-radius: 6px;
  padding: 6px 12px;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 4px 1px var(--primary-2);
}

.submit-button {
  padding-block: 15px;
}
.submit-button div {
  display: grid;
  margin: 0 auto;
  max-width: min(300px, 100%);
}

.remember-me {
  display: flex;
  align-items: center;
}
.remember-me input {
  accent-color: var(--primary-4);
  margin-right: 5px;
}

.form-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form-links a {
  color: var(--dark);
}

.form-links a:hover {
  color: var(--accent);
}
/* start Services */
.services{
  padding:130px 32px ;
}

.services .services-title{
  text-align: center;
  font-size: 36px;
  color: var(--primary-6);
  padding-bottom: 32px;
  font-weight: 400;
}
.services ul{
  background-color:var(--light) ;
  color: var(--primary-2);
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding-block:8px;
  margin-bottom: 16px;
}
.services ul li:hover , .services ul li.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--primary-4);
}

.panel {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.panel .panel-link{
  display: grid;
  place-content: center;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  border-radius: 16px;
  background-color: var(--primary-5);
  color: white;
  flex-basis: 25%;
  
}
.panel:not(.active){
  display: none;
}

/* End Services */


/* utilities */
.text-white {
  color: white;
}

.text-link-white {
  color: white;
  transition: color 250ms;
}

.text-link-white:hover {
  color: var(--primary-4);
}

.max-container {
  width: min(100%, 1250px);
  margin-inline: auto;
}

.button {
  background-color: var(--primary-3);
  color: white;
  border: 1px solid var(--primary-3);
  padding: 0.5rem 1.75rem;
  border-radius: 9999px;
  box-shadow: 0 0.3rem 2rem transparent;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: white;
  color: var(--primary-3);
  box-shadow: 0 0.3rem 0 currentColor;
}

.button.accent {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}

.button.accent:hover {
  background-color: white;
  color: var(--accent);
}




.circle-container {
  
  background-color: var(--primary-5);

  padding-block: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

}

.circle {
  width: 160px;
  height: 160;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;

  border-radius: 50%;
  padding: 20px;
}

.inner {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.num {
  font-weight: 600;
  color:white ;
  font-size: 30px;
}

.circle-container .svg1 {
  position: absolute;
  top: 0;
  left: 0;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  transform: rotate(270deg);
  animation:anim 2s linear forwards;
  border-radius: 50%;
  z-index: 5;
  
}
.circle-container .ci1 {
  position: absolute;
  top: 0;
  left: 0;
}


@keyframes anim {
  100% {
  stroke-dashoffset: var(--value);
  }
}

.circle-container .underCircle {
  color: white;
  font-size: 15px;
  font-weight:500 ;
  text-align: center;
  transform: scale(1.3);
}

/* Start footer */

.footer {
  background: var(--light);
}

.footer-top {
  color: var(--primary-2);
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer-heading {
  font-size: 20px;
  color: var(--primary-6);
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-col {
  display: grid;
  gap: 12px;
}

.link {
  background-image: linear-gradient(
    to right,
    var(--primary-4),
    var(--primary-4)
  );
  background-repeat: no-repeat;
  background-size: 0 1px;
  background-position: right bottom;
  transition: background-size 300ms ease-in-out;
  color: inherit;
}
.link:hover {
  background-size: 100% 1px;
  background-position: left bottom;
  color: var(--primary-4);
}

.footer-media {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 45px;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 300ms;
  mix-blend-mode: difference;
}

.footer-icon:hover {
  mix-blend-mode: unset;
  background-color: var(--primary-4);
}

.footer-bottom {
  border-bottom: 1px solid var(--primary-2);
}
.footer-bottom > div {
  color: var(--primary-2);
  padding: 28px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-nav-icons {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-footer {
  mix-blend-mode: difference;
}

.footer-bottom-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom-links li {
  padding-inline: 10px;
}

.footer-bottom-links li a {
  color: var(--primary-2);
}

.footer-bottom-links li:not(:last-child) {
  border-right: 1px solid var(--primary-2);
}

.footer-bottom-links li a:hover {
  color: var(--primary-3);
}

/* End footer */

.scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--primary-6);
  bottom: 15px;
  right: 10px;
  z-index: 500;
  cursor: pointer;
}
.fixed-btns{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 500;
  gap: 8px;
}
.fixed-btns button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--primary-6);
  cursor: pointer;
}
.fixed-btns button:hover ,.scroll-btn:hover{
  background-color: #1e1466 ;
}